mixin advantages()
	.advantages.parallax
		.advantages-item.advantages-item--1
			.advantages-item__title Лучшее топливо
			.advantages-item__text Топливо с лучшими характеристиками, проверенное в работе

		.advantages-item.advantages-item--2
			.advantages-item__title Надежная доставка
			.advantages-item__text В кратчайшие сроки с гарантией сохранности груза

		.advantages-item.advantages-item--3
			.advantages-item__title Выгодные условия оплаты
			.advantages-item__text Весь спектр возможностей по оплате — от предоплаты до отсрочки