mixin about()
	.about
		.about__content
			.about__title Компания
			.about__text «Сибнефтехимтрейд» — это оптовая реализация газо-нефтехимического сырья и продуктов переработки. Компания работает на российском рынке с 2006 года и занимается обеспечением ГСМ предприятий Тюменской, Челябинской, Свердловской, Московской областей.