mixin price-content()
	.inside-frame
		.inside-frame__top
		.inside-frame__content
			table.price-content
				thead
					tr
						th Наименование
						th Цена за тонну
						th Плотность
							br 
							| при наливе
						th Цена за литр
						th Документация
				tbody
					tr
						td СМТ вид II
						td 28 500 р.
						td 0,818
						td 23,31 р.
						td
							a(href="#" title="").price-content__item.price-content__item--photo
								span Фото
							a(href="#" title="").price-content__item.price-content__item--document
								span Паспорт
					tr
						td ДТ сорт F
						td 34 700 р.
						td 0,797
						td 27,65 р.
						td
							a(href="#" title="").price-content__item.price-content__item--photo
								span Фото
							a(href="#" title="").price-content__item.price-content__item--document
								span Паспорт
					tr
						td ДТ с 2 кл 3 ЖД
						td 37 000 р.
						td 0,810
						td 29,97 р.
						td
							a(href="#" title="").price-content__item.price-content__item--photo
								span Фото
							a(href="#" title="").price-content__item.price-content__item--document
								span Паспорт
					tr
						td СМТ вид II ЖД
						td 28 000 р.
						td 0,824
						td 23,07 р.
						td
							a(href="#" title="").price-content__item.price-content__item--photo
								span Фото
							a(href="#" title="").price-content__item.price-content__item--document
								span Паспорт
					tr
						td ДТ сорт F ЖД
						td 34 500 р.
						td 0,800
						td 27,60 р.
						td
							a(href="#" title="").price-content__item.price-content__item--photo
								span Фото
							a(href="#" title="").price-content__item.price-content__item--document
								span Паспорт

		.inside-frame__bottom