mixin deal-support()
	.deal-support
		.deal-support__content
			.deal-support__title Сопровождение сделки

			.deal-support-item.deal-support-item--1 Купить нефтепродукты
			.deal-support-item.deal-support-item--2 Перевезти нефтепродукты
			.deal-support-item.deal-support-item--3 Заправить транспорт