mixin contact()
	.contact
		form(method="" action="").form
			.form-cogwheel-1
			.form-cogwheel-2
			.form-cogwheel-3
			.form-cogwheel-4

			.form-cogwheel-5
			.form-cogwheel-6
			.form-cogwheel-7
			.form-cogwheel-8
			.form-cogwheel-9
			
			.form__row
				.form__column
					input(type="text" value="" placeholder="Name").form__element
				.form__column
					input(type="email" value="" placeholder="Email").form__element
			.form__row
				input(type="text" value="" placeholder="Subject").form__element
			.form__row
				textarea(placeholder="Message").form__element.form__element--textarea

			.form__row.form__row--left
				.form__reset
					.form-cogwheel-10
					.form-cogwheel-11
					.form-cogwheel-12
					.form-cogwheel-13
					input(type="reset" value="Очистить форму").form__submit
				.form__send
					.form-cogwheel-14
					.form-cogwheel-15
					.form-cogwheel-16
					.form-cogwheel-17
					.form-cogwheel-belt
					input(type="submit" value="Отправить").form__submit

		.contact-blocks
			.contact-blocks__item.contact-blocks__item--address 5512 Lorem Ipsum Vestibulum 666/13
			.contact-blocks__item.contact-blocks__item--phone +1 800 789 50 12, +1 800 450 6935
			.contact-blocks__item.contact-blocks__item--mail mail@compname.com
			.contact-blocks__item.contact-blocks__item--earth compname
			.contact-blocks__item.contact-blocks__item--globus VK
			.contact-blocks__item.contact-blocks__item--earth Facebook