mixin about-content()
	.inside-frame
		.inside-frame__top
		.inside-frame__content
			.about-content
				h1 Компания
				h2 Подзаголовок на одну - две строки.

				.about-content__column
					p Основным направлением деятельности ООО «Сибнефтехимтрейд» является оптовая реализация газо-нефтехимического сырья и продуктов переработки. Компания работает на российском рынке с 2006 г. и занимается обеспечением ГСМ ряда предприятий Тюменской, Челябинской, Свердловской, Московской областей.
				.about-content__column.about-content__column--center
					p ООО «Сибнефтехимтрейд» осуществляет поставки продукции производств таких компаний как ООО «Сибур», ОАО «Газпромнефть», ООО «Сургутгазпром», ОАО «НК «Роснефть», ОАО «ТНК-ВР Холдинг» и других, а также реализует фракции первичной переработки нефти на производственных мощностях подрядчиков ООО «Сибнефтехимтрейд». Отгрузки готовой продукции осуществляются как железнодорожным транспортом, так и собственным автотранспортом компании.
				.about-content__column
					p ООО «Сибнефтехимтрейд» предлагает потребителю приемлемые, гибкие условия поставки и сроков оплаты отгружаемой продукции.
		.inside-frame__bottom