.about-content {
	display: flex;

	width: 100%;

	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	h1 {
		width: 100%;
		margin-top: 0;
		margin-bottom: 40px;

		text-align: center;

		color: #fff;

		font-family: "IntroHeadBUC-GBaseShade";
		font-size: em(73.72px);
		font-weight: normal;
	}
	h2 {
		width: 100%;
		margin: 0;

		text-align: center;

		color: #fff;

		font-family: "VentiCF-Bold";
		font-size: em(20px);
		font-weight: normal;
	}
	p {
		margin: 0;

		text-align: justify;

		color: #fff;

		font-family: "VentiCF-Medium";
		font-size: em(17.74px);
	}
	&__column {
		margin-top: 45px;
		width: 25%;
		&--center {
			margin-right: 80px;
			margin-left: 80px;
		}
	}
}
