mixin menu
	a(href="#" title="").header-menu
		.header-menu__name Меню

	.header-menu-slide
		.header-menu-slide__wrapper
			.header-menu-slide__close
		a(href="#" title="").header-menu-slide__item КОМПАНИЯ
		a(href="#" title="").header-menu-slide__item УСЛУГИ
		a(href="#" title="").header-menu-slide__item ОНЛАЙН-СЕРВИСЫ
		a(href="#" title="").header-menu-slide__item ГРУЗОПЕРЕВОЗКИ ГСМ
		a(href="#" title="").header-menu-slide__item КОНТАКТЫ

		.header-menu-slide__bg
			.header-menu-slide__overlay
			video(loop muted autoplay width="100%" height="100%")
				source(src="https://0.s3.envato.com/h264-video-previews/38da8277-8f21-45bc-ba84-88717ce5e886/12156207.mp4" type="video/mp4")