include ../head/head
include ../header/header
include ../menu/menu
include ../logo/logo
include ../slider/slider
include ../about/about
include ../advantages/advantages
include ../deal-support/deal-support
include ../contact-title/contact-title
include ../contact/contact
include ../map/map
include ../footer/footer


include ../about-content/about-content
include ../price-content/price-content