mixin map()
	| <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPIuruCarXMAHCkHX6Gi9wEWfN5CdNKxg&callback=initMap"async defer></script>
	.map
		#map
	//- .map
	//- 	img(src="%=staticPrefix=%images/content/map.png" alt="")
